<html lang="en">
        <form action="/homepage" method="post">
            <label for="">Email : <%= user.email %></label>
            <div>
                <label for="password">Password: </label>
                <input type="password" name="password">
            </div>
            <button>sign in</button>
        </form>
</html>